body {
	background: url('../img/space-wallpaper-5.jpg') no-repeat center center fixed;
}

.container{
	padding-top: 5%;
	text-align: center;
}

.layer{
	background-color: rgba(0, 0, 0, 0.3);
	height: 100vh;
	width: 100vw;
}

.my-name {
	color: white;
}

.lead{
	color: white;
}